
  <div class="panel panel-primary text-center">
      <div class="panel-heading text-center"><h4>Records <span class="glyphicon glyphicon-folder-open"></span></h4></div>
  <!-- Table -->
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Length(s)</th>
        <th class="text-center">Date Upload</th>
        <th class="text-center">Sex</th>
        <th class="text-center">Age</th>
        <th class="text-center">Height(cm)</th>
        <th class="text-center">Width(Kg)</th>
      </tr>
    </thead>
  <tbody>
   <tr *ngFor="let registro of registros">
      <td>{{registro.titulo}}</td>
      <td>{{registro.duracion}}</td>
      <td>{{registro.fecha}}</td>
      <td>{{registro.sexo}}</td>
      <td>{{registro.edad}}</td>
      <td>{{registro.altura}}</td>
      <td>{{registro.peso}}</td>
      <td><button  class="btn btn-default" (click)=signals(registro.titulo,registro.duracion)>Signals</button></td>
      <td><button  class="btn btn-default" (click)=derivada(registro.titulo,registro.duracion)>Averaged</button></td>
    </tr>
    </tbody>
  </table>
</div>




