
<div class= "form-inline text-center">

    <label for="formGroupExampleInput">{{registro}}</label>
    <button (click)="principio()" class="btn btn-default" ><span class="glyphicon glyphicon-step-backward"></span></button> 
    <button (click)="retroceder()" class="btn btn-default" ><span class="glyphicon glyphicon-fast-backward"></span></button>
    <button (click)="retrocederM()" class="btn btn-default" ><span class="glyphicon glyphicon-backward"></span></button>
    <label for="formGroupExampleInput">Interval:</label>
    <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" #desde required placeholder="From" style="width: 80px">
    <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" #hasta required placeholder="To" style="width: 80px">
    <button type="submit" class="btn btn-default" (click)="getIntervalo(desde.value,hasta.value); desde.value=''; hasta.value=''">Go</button>
    <button (click)="signals()" class="btn" [ngClass]="{ 'btn-primary': signal, 'btn-default': !signal}">Signals</button>

  <select class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" (click)="cambiarEscala($event.target.value)">
    <option value="0">Time</option>
    <option value="0.2">0.2 s</option>
    <option value="1" >1 s</option>
    <option value="5">5 s</option>
    <option value="10">10 s</option>
    <option value="30">30 s</option>
    <option value="60">60 s</option>
  </select>

    <button (click)="ocultarEscala()" class="btn" [ngClass]="{ 'btn-default': escalas, 'btn-primary': !escalas}"><span class="glyphicon glyphicon-th"></span></button>

    <button (click)="avanzarM()" class="btn btn-default"><span class ="glyphicon glyphicon-forward"></span></button>
    <button (click)="avanzar()" class="btn btn-default" ><span class = "glyphicon glyphicon-fast-forward"></span></button> 
    <button (click)="final()" class="btn btn-default" ><span class = "glyphicon glyphicon-step-forward"></span></button> 
    <button (click)="goToSignals()" class="btn btn-info" >Signals <span class="glyphicon glyphicon-eye-open"></span></button>
    <button (click)="goToAveraged()" class="btn btn-info" >Averaged <span class="glyphicon glyphicon-eye-open"></span></button>
</div>

<br>

<div *ngFor="let alert of alerts">
  <alert type="danger" dismissOnTimeout="4000">ERROR:  {{ alert.msg }}</alert>
</div>

<div  *ngIf="signal" class="form-inline text-center">
  <div *ngFor="let i of graficas; let k = index" class="form-group">
    <button  (click)=ocultar(k) class="btn" [ngClass]="{ 'btn-primary': visualizar[k], 'btn-secondary': !visualizar[k]}">
      {{graficas[k].titulo}}
    </button>
  <div class="form-group" ></div>
  </div>
  
</div>


<grafica *ngFor="let i of graficas; let k = index" [grafica]="graficas[k]" [mostrar]="visualizar[k]"></grafica>


