
<div *ngIf="mostrar">

<a type="button" class="btn btn-default btn-sm"  data-toggle="modal" [attr.data-target]="'#' + grafica.configuracionY.id"><span class="glyphicon glyphicon-cog"></span></a>
  <!-- Modal -->
  <div class="modal fade" [attr.id]="grafica.configuracionY.id" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" align="center">Configuration {{grafica.titulo}}</h4>
        </div>
        <div class="modal-body">
          <form  #f="ngForm" class="form-inline">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0" >
              <div class="input-group-addon"><b>Max</b></div>
                <input type="number" class="form-control"  name="maximo" step="any" style="width: 105px" ngModel required />
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0" >
              <div class="input-group-addon"><b>Min</b></div>
                <input type="number" class="form-control"  name="minimo" step="any" value="5" style=" width: 105px" ngModel required />
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0" >
              <div class="input-group-addon"><b>Tick</b></div>
                <input type="number" class="form-control"  name="tick" step="any" style=" width: 105px" ngModel required />
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit(f.value)">Change</button>
            </div>
          </form>
          <div class="form-group"></div>
            <div class="form-group text-center">
              <button  class="btn btn-default" (click)="reset()">Reset</button>
            </div>
        </div>
        <div class="modal-footer" >
          <button id="closeModal" type="button" class="btn btn-danger"  data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <chart [options]="options" (load)="saveChart($event.context)" (selection)="onChartSelection($event)" style="min-width: 1150px; min-height: 250px" >
            <series>
              <point (select)="onPointSelect($event)"></point>
            </series> 
  </chart>

  
</div>

